CAMERA_DEVICE=/dev/video1
CAMERA_WIDTH=960
CAMERA_HEIGHT=540
CAMERA_FPS=25
STREAM_TARGET_FPS=18
CAMERA_OPEN_RETRY_MS=2000
CAMERA_READ_FAIL_THRESHOLD=20
AUDIO_ENABLED=true
AUDIO_DEVICE=hw:1,0
AUDIO_SAMPLE_RATE=16000
AUDIO_CHANNELS=1
ALSA_CONFIG_PATH=/usr/share/alsa/alsa.conf
ALSA_CONFIG_DIR=/usr/share/alsa
