TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
CAMERA_DEVICE=/dev/video1
CAMERA_WIDTH=960
CAMERA_HEIGHT=540
CAMERA_FPS=25
STREAM_TARGET_FPS=18
CAMERA_OPEN_RETRY_MS=2000
CAMERA_READ_FAIL_THRESHOLD=20
YOLO_MODEL_PATH=models/yolo11n.onnx
YOLO_INPUT_SIZE=320
PERSON_CONFIDENCE_THRESHOLD=0.45
PERSON_DETECTION_INTERVAL_MS=250
PERSON_DETECTION_MAX_WIDTH=416
PERSON_REPORT_COOLDOWN_SECONDS=20
SCENARIO_STATE_DB_PATH=backend/data/scenario_state.sqlite3
AUDIO_ENABLED=true
AUDIO_DEVICE=hw:1,0
AUDIO_SAMPLE_RATE=16000
AUDIO_CHANNELS=1
ALSA_CONFIG_PATH=/usr/share/alsa/alsa.conf
ALSA_CONFIG_DIR=/usr/share/alsa
CLIP_PRE_SECONDS=3
CLIP_POST_SECONDS=7
